.fitnessBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 610px) {
    .fitnessBox {
        visibility: hidden;
    }
}