.customTooltip {
    position: absolute;
    top: -35px;
    transform: translate(-50%, 0);
    z-index: 100;
}

.formFitnessFatigue {

    display: flex;
    flex-wrap: nowrap;
}

.topRow {
    font-size: 14px;
}

.bottomRow {
    font-weight: 600;
}

.topRow, .bottomRow {
    white-space: nowrap;
    line-height: 1.2;
}

.date {
    color: var(--darkGray);
}

.fitness {
    color: var(--blue);
}

.fatigue {
    color: var(--purple);
}

.form {
    color: var(--gray);
}